############
# Next.js - Configuration for the Next.js project.
# IN DEVELOPMENT, YOU CAN USE THE DEFAULT VALUES - COPY THIS FILE TO .env.local
############

NEXT_PUBLIC_SITE_URL=${SITE_URL}
NEXT_PUBLIC_SUPABASE_URL=${API_EXTERNAL_URL}
NEXT_PUBLIC_ANON_KEY=${ANON_KEY}

RESEND_API_KEY=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

SENTRY_AUTH_TOKEN=